<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- View -->
	<!-- General -->
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/view/index</url-pattern>
	</servlet-mapping>

	<!-- Products -->
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/view/products</url-pattern>
	</servlet-mapping>

	<!-- Cart -->
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/view/cart</url-pattern>
	</servlet-mapping>

	<!-- User -->
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/view/user/home</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/view/user/sign-up</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/view/user/sign-in</url-pattern>
	</servlet-mapping>


	<!-- API -->
	<!-- Products -->
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/api/products</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/api/products/byid</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/api/products/all</url-pattern>
	</servlet-mapping>

	<!-- Cart -->
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/api/cart/products</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/api/cart/products/add</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/api/cart/products/remove</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/api/cart/products/set</url-pattern>
	</servlet-mapping>

	<!-- User -->
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/api/user</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/api/user/sign-up</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/api/user/session</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/api/user/sign-in/blocker</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/api/user/sign-in/attempts</url-pattern>
	</servlet-mapping>
</web-app>
